/* Style the blocks items */
.items {
  position: relative;
  padding: 24px;
  background: #eee;
  font-size: 18px;
  max-width: 600px;
  margin: 20px auto;
}

.item {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  user-select: none;
  list-style-type: none;
  border-bottom: 1px solid #fff;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background: #ddd;
  }
}

.btn {
  border: none;
  padding: 7px 14px;
  cursor: pointer;
}

.btnDel {
  color: white;
  background-color: #f44336;
}

.btnEdit {
  color: #2196F3;
  text-decoration: none;
}

.btnCreate {
  padding: 9px 18px;
  color: white;
  background-color: #04AA6D;
  text-decoration: none;
  margin: 0 auto;
}